<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
  </head>
<body>
  <a href="index">홈</a>  
<br>
    <form  id="target" action="/joinpro" method="post">
    이메일 <input type="email" name="email" id="useremail"  placeholder="이메일을 적어 주세요">                   
    <div id="emailcheck"></div>
    비밀번호<input id="userpwd" type="password" name="pwd" placeholder="10자 이상으로 입력해주세요">
    <div id="passwordlength"></div>
    이름<input type="text" id="username" name="name" placeholder="이름을 적어주세요">
    <input type="submit" value="완료" id="button">
    </form>
    <br>
 

  

</body>
</html>